@media(max-width: 500px) {
    .oferta .ofertaGrid {

    }
}

@media(max-width: 700px) {
    /* TOP BAR */

    .topBar .logoContainer img {
        width: 150px;
        height: 15px;
    }

    .topBar .callToMe {
        display: flex;
        width: 40vw;
        right: 4vw;
        justify-content: flex-end;
        align-items: center;
    }

    .topBar .callToMe img {
        width: 25px;
        height: 25px;
    }

    .topBar .callToMe h3 {
        display: none;
    }

    .topBar .callToMe h4 {
        font-size: 14px;
    }


    /* LANDING PAGE */


    /* KORZYSCI */

    .korzysci .korzysciP {
        padding: 0 0 3vh 0;
    }
}

@media(max-width: 700px) {
    /* LANDING PAGE */

    .landingPage .messengerContainer {
        padding: 2vh 1vw 2vh 1vw;
        width: 80vw !important;
        top: 55%;
    }

    .landingPage .messengerContainer .messengerInner {
        width: 70%;
    }

    .landingPage .messengerInner a {
        grid-template-columns: 30% 70%;
    }

    .landingPage .haslo {
        display: none;
    }

    .messengerModalInner {
        margin: 20px 0 !important;
    }


    /* KORZYSCI */

    .korzysci h2 {
        width: 90%;
    }

    .korzysci .iconNumber {
        width: 50px;
        height: 50px;
    }

    .korzysci .propozycjeStrzalki {
        grid-row-gap: 0;
    }

    .korzysci .propozycjeContainer {
        width: 95% !important;
    }

    .korzysci .propozycjeContent {
        grid-template-columns: 1vw 14vw 19vw 14vw 19vw 14vw 5vw;
    }

    /* OFERTA */

    .oferta .ofertaGrid {
        grid-template-columns: 75% !important;
        width: 100% !important;
        justify-content: center;
    }

    .oferta .ofertaGrid .ofertaItem h4 {
        text-align: center;
        font-size: calc(1em + 10 * ((100vw - 300px)/900));
    }

    .oferta .ofertaGrid .ofertaItem ul li {
        font-size: 13px;
    }

    /* KONTAKT */

    .kontakt button {
        width: 70% !important;
        height: 40px !important;
        border-radius: 40px !important;
    }

    /* ZAUFALI NAM */

    .zaufaliNam > div {
        width: 50vw !important;
    }

    .zaufaliNam > div:nth-child(2) > div:nth-child(2) > div {
        width: 30vw !important;
    }


    /* FOOTER */

    footer .left .menuFooter {
        width: 90%;
    }

    footer .left .socialMedia {
        width: 80% !important;
    }
}

@media(max-width: 900px) {
    /* GLOBAL */

    .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none !important;
    }

    .landingMobileModal .ReactModal__Overlay {
        opacity: 1 !important;
    }

    /* LANDING PAGE */

    .landingPage, .landingPage .landingPageImg {
        height: 300px !important;
    }

    /* KORZYSCI */

    .korzysciHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        padding: 20px;
        border-bottom: 1px solid #a8a8a8;
    }

    .propozycjeStrzalki {
        display: flex !important;
        flex-direction: column;
        height: auto !important;
    }

    .propozycjeStrzalki > * {
        margin: 8px 0;
    }

    .propozycjeStrzalki > p {
        padding-bottom: 25px;
        font-size: 13px;
        border-bottom: 1px solid #e30e32;
    }

    .propozycjeStrzalki > img {
        margin-top: 25px;
    }

    .propozycjeStrzalki h3 {
        text-align: center;
    }

    /* OFERTA */

    .oferta .ofertaGrid {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-row-gap: 40px;
    }

    .oferta .ofertaGrid .ofertaItem {
        width: 100%;
        margin: 0;
    }

    .oferta .ofertaGrid .ofertaItem .iconSection {
        height: 160px;
    }

    .oferta .ofertaItem .iconSection > img {
        width: 80px !important;
        height: 80px !important;
    }

    /* ZAUFALI NAM */

    .slider-wrapper .slider {
        display: flex !important;
    }

    /* KONTAKT */

    .kontakt {
        padding: 5vh 4vw !important;
    }

    .kontakt .kontaktHeader {
        border-left: 5px solid #e30e32;
        padding: 0 7px;
    }

    .kontakt .kontaktHeader h3 {
        font-size: 12px;
    }

    .kontakt form {
        width: 100%;
        padding: 3vh calc(7px + 3vw);
        display: flex;
        flex-direction: column;
    }

    .kontakt form input, .kontakt form textarea {
        border-radius: 10px;
    }

    .kontakt form textarea {
        height: 100px;
    }

    .kontakt form button {
        align-self: center;
        height: 50px;
    }

    .kontakt form label {
        font-size: 14px;
        color: #717171;
    }

    .kontakt .google {
        bottom: -50px;
    }

    .ReactModal__Content {
        width: 280px !important;
        overflow: hidden !important;
        outline: none !important;
    }

    .modalInner {
        width: 270px !important;
        height: 320px !important;
    }

    .modalInner h2 {
        font-size: 1.2em !important;
    }

    .modalInner h3 {
        font-size: 14px;
    }

    .modalInner img {
        width: 100px;
        height: 100px;
    }

    /* ZAUFALI NAM */

    .zaufaliNam > div {
        width: 96% !important;
        margin-top: 50px;
    }

    .mobileSlider {
        margin-top: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .mobileSlider .arrow img {
        width: 100%;
        height: 100%;
    }

    .mobileSlider .leftArrow {
        transform: rotateY(180deg);
        margin-right: 18px;
    }

    .mobileSlider .rightArrow {
        margin-left: 18px;
    }

    .slider {
        background-color: #ebebeb;
        display: none;
        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
    }

    .active {
        display: block;
    }

    .slider .imageSection {
        height: 150px;
    }

    .slider .textSection {
        margin-top: -50px !important;
        padding-left: 4vw;
    }

    .slider .podpis {
        bottom: 20px !important;
    }

    /* O MNIE */

    .omnieSection {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .omnieSection .omnieInnerMobile {
        width: 90vw;
        margin-bottom: 50px;
    }

    .omnieSection .omnieInnerMobile .omnieTekst {
        margin-top: 20px;
    }

    /* FOOTER */

    footer {
        grid-template-columns: 100%;
        grid-template-rows: 250px 200px 40px !important;
    }

    footer .left {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .left .footerLogo {
        width: 296px;
    }

    footer .left .menuFooter {
        width: 90%;
        justify-content: space-between;
        font-size: 13px;
    }

    footer .left .menuFooter li {
        padding-right: 0;
    }

    footer .left .socialMedia {
        padding-top: 20px;
        width: 50%;
    }

    footer .left img {
        margin-left: 0 !important;
    }

    footer .right {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    footer form {
        flex-direction: column;
        align-items: center;
    }

    footer .right h4 {
        font-size: 12px;
    }

    footer .right button {
        margin: 10px 0 0 0;
    }

    footer .bottom {
        grid-column: 1;
        grid-row: 3;
    }

    footer .bottom h6 {
        text-align: center;
    }

    /* MESSENGER MODAL */

    .ReactModal__Overlay {
        z-index: 10000 !important;
    }

    body > div:nth-child(5) > div > div {
        background-color: white !important;
        width: 280px !important;
        height: auto !important;
    }

    .messengerModal {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #363636;
        padding: 20px 30px !important;
    }

    .messengerModal .messengerBlue {
        margin-top: 10px;
    }

    .messengerModal h2 {
        font-weight: 900 !important;
        font-size: 1.5em;
        text-align: center;
        margin: 20px 0 5px 0;
    }

    .messengerModal h3 {
        font-weight: 400 !important;
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 14px;
    }

    .messengerModal .messengerModalInner a {
        display: flex;
        background-color: #dbdbdb;
        color: #5d5d5d;
        padding: 12px;
        border-radius: 15px;
    }

    .messengerModal .messengerModalInner img {
        width: 50px;
        height: 50px;
    }

    .messengerModal .messengerModalInner h4 {
        display: flex;
        align-items: center;
        font-size: 13px;
    }
}

@media(max-width: 1200px) and (min-width: 900px) {
    /* O MNIE */

    .omnieInnerMobile {
        display: flex;
        flex-direction: column;
    }

    .omnieInnerMobile h2 {
        font-size: 15px;
        margin-left: 10px !important;
        border-left-width: 12px !important;
    }

    .omnieInnerMobile .omnieTekst {
        background-color: #ebebeb;
        width: 90%;
        align-self: center;
        text-align: justify;
        padding: 15px;
        margin-bottom: 30px;
    }

    /* OFERTA */

    .oferta .ofertaGrid {
        display: grid;
        grid-template-columns: repeat(2, 30%);
    }

    .oferta .ofertaGrid .ofertaItem {
        width: 100%;
    }
}
