/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    max-width: 100%;
}

.greenFont {
    color: #27E59E;
}

.bold {
    font-weight: 900;
}

.opacity {
    opacity: .25 !important;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.mobileOnly {
    display: none;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

.landingMobileModal .ReactModal__Overlay {
    opacity: 0;
}

.dots {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 100;
}

.dots .dotItem {
    width: 15px;
    height: 15px;
    background: #363636;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
}

.dots .dotItem:first-child {
    background: #27E59E;
}

.upBtn {
    background-color: #0F32A2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.upBtn img {
    width: 50px;
    height: 50px;
}

/* MODAL TRANSITIONS */

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
    background: rgba(0,0,0,.75) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}

.ReactModal__Content {
    position: relative !important;
    width: 400px !important;
    height: 400px !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    background-color: #ffffff;
}

.ReactModal__Content .modalInner {
    border: 1px solid #a8a8a8;
    width: 390px;
    height: 390px;
    position: absolute;
    z-index: 100 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.ReactModal__Content .modalInner h2 {
    font-size: 2.5em;
    font-weight: 900;
}


.ReactModal__Content .modalInner h3 {
    font-weight: 400 !important;
}

.ReactModal__Content .modalInner h2, .ReactModal__Content .modalInner h3 {
    margin: 20px 0;
    color: #363636;
}

.ReactModal__Content .modalExit {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000 !important;
}

/* LANDING PAGE */

.landingPage {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: 800px;
}

.landingPage .landingPageImg {
    width: 100% !important;
    height: 100vh !important;
    min-height: 800px;
}

.landingPage .landingPageImg img {
    background-attachment: fixed !important;
}

.landingPage .gatsby-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage .topMenu {
    position: absolute;
    margin: 50px 100px 50px 100px;
    display: flex;
    width: calc(100% - 200px);
}

.landingPage .topMenu h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
}

.landingPage .topMenu menu {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.landingPage .topMenu menu h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin: 0 40px;
    position: relative;
    padding: 0 0 5px 0;
    cursor: pointer;
}

.landingPage .topMenu menu h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #27E59E;
    transform: scaleX(0);
    transition: .4s transform;
}

.landingPage .topMenu menu h3:hover::after {
    transform: scaleX(1);
}

.landingPage .landingContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
    top: 270px;
}

.landingPage .green {
    color: #27E59E;
}

.landingPage .landingContent h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: calc(30px + 65 * ((100vw - 700px)/(1300)));
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    margin: 20px 0;
    display: flex;
}

.landingPage .landingContent h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 2px;
    background: #27E59E;
}

.landingPage .landingContent h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    font-size: calc(16px + 20 * ((100vw - 700px)/(1300)));
    opacity: 0;
}

.landingPage .landingContent .wspolpracaBtn {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 300px;
    height: 70px;
    border-radius: 70px;
    border: 1px solid #27E59E;
    background: transparent;
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    opacity: 0;
    outline: none;
    position: relative;
    overflow: hidden !important;
}

.landingPage .landingContent .wspolpracaBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-radius: 70px;
    background: #27E59E;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0;
    transition: .5s;
}

.landingPage .landingContent .wspolpracaBtn:hover::before {
    transform: scaleX(1);
}

.landingPage .Typewriter__wrapper {
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 800 !important;
}

@media(min-width: 2000px) {
    .landingPage .landingContent h1 {
        font-size: 70px;
    }

    .landingPage .landingContent h2 {
        font-size: 27px;
    }

    .landingPage .topMenu h2 {
        font-size: 30px;
    }

    .landingPage .topMenu menu h3 {
        font-size: 20px;
    }

    .landingPage .landingContent .wspolpracaBtn {
        font-size: 25px;
    }
}

/* KORZYSCI */

.korzysci {
    background-color: #F2F2F2;
    font-family: Cantarell, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.korzysci h2, .korzysci h4, .korzysci p {
    text-align: center;
    width: 70%;
    color: #504F4F;
    font-family: 'Barlow Condensed', sans-serif;
}

.korzysci h2 {
    position: relative;
    font-weight: 700;
    padding: 40px 0 15px 0;
    font-size: calc(1.5em + 16 * ((100vw - 700px)/900));
}

.korzysci h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 150px;
    background-color: #27e59e;
}

.korzysci .propozycjeContainer {
    margin: 30px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px 0 100px 0;
    width: 90vw;
}

@media(min-width: 1800px) {
    .korzysci .propozycjeContainer .propozycjeItem {
        margin: 0 50px;
    }
}

.korzysci .propozycjeContainer .propozycjeItem {
    display: flex;
}

.korzysci .propozycjeContainer .propozycjeItem .image .number {
    color: #CECECE;
    font-weight: 900;
    font-size: 132px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: -30px;
}

.korzysci .propozycjeContainer .propozycjeItem .image {
    width: 160px;
    position: relative;
}

.korzysci .propozycjeContainer .propozycjeItem:first-child .image {
    width: 120px;
    position: relative;
}

.korzysci .propozycjeContainer .propozycjeItem:first-child .textWrap {
    width: 350px;
    position: relative;
}

.korzysci .propozycjeContainer .propozycjeItem .image img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 90px;
    height: 90px;
}

.korzysci .propozycjeContainer .propozycjeItem .image .img-2 {
    left: 50px;
}

.korzysci .propozycjeContainer .propozycjeItem .image .img-3 {
    left: 50px;
}

.korzysci .propozycjeContainer .propozycjeItem .textWrap {
    width: 300px;
}

.korzysci .propozycjeContainer .propozycjeItem .text, .korzysci .propozycjeContainer .propozycjeItem .title {
    width: 100%;
    text-align: left;
}

.korzysci .propozycjeContainer .propozycjeItem .title {
    margin: 20px 0 20px 0;
}

/* OFERTA */

.oferta {
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5vh 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.oferta h2 {
    position: relative;
    font-size: calc(1.5em + 16 * ((100vw - 700px)/900));
    margin: 50px;
    padding-bottom: 15px;
    color: #504F4F;
    font-weight: 700;
}

.oferta h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 150px;
    background-color: #27e59e;
}

.oferta .ofertaGrid .ofertaItem {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 0px 20px #1225D433;
    -moz-box-shadow: 0px 0px 20px #1225D433;
    box-shadow: 0px 0px 20px #1225D433;
    width: 15vw;
    margin: 20px 0;
    border-radius: 25px;
}

@media(min-width: 2000px) {
    .oferta .ofertaGrid .ofertaItem {
        background-color: #f6f6f6;
        width: 300px;
        margin: 20px;
    }
}

.oferta .ofertaGrid {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    /* grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 320px);
    grid-column-gap: 10%;
    grid-row-gap: 40px; */
}

.oferta .ofertaGrid .ofertaItem .iconSection {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.oferta .ofertaGrid .ofertaItem .iconSection > img {
    width: 70px;
    height: 70px;
}

.oferta .ofertaGrid .ofertaItem h4 {
    background-color: #0F32A2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    width: 80%;
    border-radius: 50px;
    margin: auto auto 25px auto;
}

.oferta .ofertaGrid .ofertaItem ul {
    list-style-type: none;
    margin-bottom: 25px;
}

.oferta .ofertaGrid .ofertaItem ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    color: #504F4F;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: calc(15px + 10 * ((100vw - 700px)/(1500)));
}

.oferta .ofertaGrid .ofertaItem ul li img {
    margin-right: 1vw;
}

/* KONTAKT */

.kontakt {
    padding: 5vh 15vw;
    background-color: #f2f2f2;
    margin: 50px 0;
}

.kontakt .kontaktHeader {
    border-left: 22px solid #27e59e;
    padding: 10px;
    color: #504F4F;
}

.kontakt .kontaktHeader h2 {
    font-size: calc(1em + 24 *((100vw - 300px)/900));
    letter-spacing: 2px;
    font-weight: 900;
    font-family: Cantarell Bold, sans-serif;
}

.kontakt .kontaktHeader h3 {
    font-size: calc(.8em + 4 *((100vw - 300px)/900));
    font-weight: 100;
}

.kontakt form {
    position: relative;
    padding: 3vh 32px;
    display: grid;
    grid-template-columns: 20vw 40vw;
    grid-template-rows: repeat(4, 40px) 10px 50px;
    grid-row-gap: 15px;
    grid-column-gap: 3vw;
}

.kontakt form button {
    grid-column: 1 / span 2;
    grid-row: 6;
    width: 30%;
    max-width: 220px;
    justify-self: flex-end;
    border: none;
    outline: none;
    height: 80%;
    color: white;
    background-color: #0F32A2;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    border-radius: calc(40px * 0.8);
    cursor: pointer;
    transition: .5s;
}

.kontakt button:hover {
    background-color: #0E1191;
}

.kontakt form input, .kontakt form textarea {
    background-color: #f6f6f6;
    border: none;
    outline: none;
    color: #363636;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 5px #1225D433;
    -moz-box-shadow: 0px 0px 5px #1225D433;
    box-shadow: 0px 0px 5px #1225D433;
    resize: none;
}

.kontakt form input:focus, .kontakt form textarea:focus {
    border: 2px solid #27e59e;
}

.kontakt form input::placeholder, .kontakt form textarea::placeholder {
    color: #a8a8a8;
}

.kontakt form input[name="name"] {
    grid-column: 1;
    grid-row: 1;
}

.kontakt form input[name="surname"] {
    grid-column: 1;
    grid-row: 2;
}

.kontakt form input[name="email"] {
    grid-column: 1;
    grid-row: 3;
}

.kontakt form input[name="phoneNumber"] {
    grid-column: 1;
    grid-row: 4;
}

.kontakt form textarea {
    grid-column: 2;
    grid-row: 1 / span 4;
}

.kontakt .google {
    font-size: 12px;
    color: #a8a8a8;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.kontakt .google p {
    text-align: center;
}

.kontakt .submitForm {
    background-color: white;
}

.kontakt .error {
    color: red;
    font-size: 13px;
    grid-row: 6;
    grid-column: 1 / span 2;
    text-align: center;
    margin-top: -10px;
}

.submitFormModal .ReactModal__Content {
    height: 400px !important;
}

.submitFormModal .modalInner {
    height: 390px !important;
}

/* ZAUFALI NAM */

.zaufaliNam {
    padding: 5vh 10vw;
    color: #363636;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.zaufaliNam h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: calc(1.5em + 24 * ((100vw - 300px)/900));
    font-weight: 700;
}

section.zaufaliNam > div > div > div > div {
    padding-top: 0 !important;
}

.zaufaliNam > div {
    flex-grow: inherit !important;
    flex-basis: inherit !important;
    flex-shrink: inherit !important;
}

.cardBtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3em;
    cursor: pointer !important;
    color: #363636;
}

.zaufaliNam .imageSection {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: -30px;
    position: relative;
}

.zaufaliNam .imageSection img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
}

.zaufaliNam .textSection {
    position: relative;
    height: 200px;
    padding: 1vh 2vw;
}

.zaufaliNam .textSection .podpis {
    position: absolute;
    bottom: 40px;
    right: 4vw;
}

#gatsby-focus-wrapper > div > section.zaufaliNam > div > div > div:nth-child(2) {
    cursor: pointer !important;
}

/* O MNIE */

.omnieSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.omnieSection > h2 {
    display: flex;
    align-self: flex-start;
}

.omnieInner .omnieImg {
    height: 100% !important;
    width: 100% !important;
}

.omnieInner {
    width: 95vw;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 100%;
    grid-column-gap: 5vw;
}

.omnieInner .omnieTekst {
    overflow: hidden;
}

.omnieInner .omnieHeader, .omnieInnerMobile .omnieHeader {
    color: #363636;
    margin: 20px 0;
    border-left: 22px solid #27E59E;
    padding-left: 15px;
}

.omnieInner .opacityh2 {
    opacity: .85;
}

.omnieInner .superBold, .omnieInnerMobile .superBold {
    font-weight: 700;
    font-size: 2em;
}

.omnieInner p {
    margin: 20px 0 20px 37px;
    text-align: justify;
}

.omnieInner .hasloReklamowe {
    border-bottom: 3px solid #27E59E;
    margin: 100px 0 100px 37px;
    width: max-content;
    padding-bottom: 5px;
}

.omnieInner .hasloReklamowe h2 {
    font-size: calc(16px + 20 * ((100vw - 400px)/1200));
    color: #363636;
    font-weight: 900 !important;
    letter-spacing: 2px;
}

.omnieInner .hasloReklamowe h3 {
    color: #363636;
    font-size: calc(13px + 10 * ((100vw - 400px)/1200));
    font-weight: 400;
}

.overlayOMnie {
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 100;
    background-color: white;
}

/* FOOTER */

footer {
    background-color: #363636;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 130px 50px;
    grid-row-gap: 40px;
    color: white;
}

footer .left {
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

footer .left > img {
    margin: 30px 10px 30px -15px;
}

footer .left .socialMedia {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    bottom: 0;
    margin-left: -4px !important;
}

footer .left .socialMedia img {
    opacity: .8;
    cursor: pointer;
}

footer .left .socialMedia img:hover {
    opacity: 1;
}

footer .left ul {
    list-style-type: none;
    display: flex;
    margin-top: 50px;
}

footer .left ul li {
    padding-right: 20px;
}

footer .left ul li a {
    opacity: .8;
}

footer .left ul li a:hover {
    opacity: 1;
}

footer .right {
    width: 400px;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: end;
}

footer .right h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

footer .right form {
    display: flex;
    flex-wrap: wrap;
}

footer .right input {
    height: 40px;
    border: none;
    outline: none;
    padding: 2px 5px;
    width: 200px;
}

footer .right button {
    background-color: #27e59e;
    color: white;
    border: none;
    outline: none;
    height: 40px;
    width: 120px;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}

footer .right button:hover {
    background-color: #16D48D;
}

footer .bottom {
    border-top: 1px solid #27e59e;
    border-bottom: none;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 5px;
}

footer .bottom h6 {
    color: #a8a8a8;
    text-align: right;
}

footer .error {
    color: red;
    font-size: 12px;
    width: 200px;
    padding: 3px 0;
}

.footerModal .modalInner {
    height: 390px !important;
}

footer .google {
    font-size: 12px;
    color: #a8a8a8;
    margin-top: 5px;
    text-align: center;
    width: 340px;
}

footer .bottom a {
    transition: .2s;
}

footer .bottom a:hover {
    color: white;
}
