/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Cantarell');

/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cantarell, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.red {
    color: red;
}

.bold {
    font-weight: 900;
}

.opacity {
    opacity: .25 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

/* TOP BAR */

.topBar {
    background-color: #f6f6f6;
    color: #363636;
    height: 10vh;
    min-height: 30px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.topBar .logoContainer {
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.topBar .logoContainer img {
    width: 416px;
    height: 40px;
}

.topBar .callToMe {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 10vh;
    width: 22vw;
    display: grid;
    grid-template-columns: 50px 160px;
    grid-template-rows: 4vh 6vh;
}

.topBar .callToMe h3 {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topBar .callToMe img {
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    height: 80%;
}

.topBar .callToMe h4 {
    grid-column: 2;
    grid-row: 2;
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* LANDING PAGE */

.landingPage {
    height: 90vh;
    position: relative;
}

.landingPage .landingPageImg {
    width: 100% !important;
    height: 90vh !important;
}

.landingPage .messengerContainer {
    background-color: rgba(255, 255, 255, .85);
    width: 30vw;
    border-radius: 25px;
    position: absolute;
    right: 10vw;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 1vw 0 1vw
}

.landingPage .messengerContainer h2 {
    font-size: calc(.8em + 4 * ((100vw - 300px)/1200));
}

.landingPage .messengerContainer h2, .landingPage .messengerContainer h1 {
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Cantarell', sans-serif;
}

.landingPage .messengerContainer h1 {
    text-transform: uppercase;
    font-size: calc(.8em + 16 * ((100vw - 300px)/1200));
}

.landingPage .messengerInner {
    margin: 3vw;
}

.landingPage .messengerInner a {
    display: grid;
    grid-template-columns: 7vw 16vw;
    grid-template-rows: 10vh;
    justify-items: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 15px;
    opacity: 1;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
    font-family: 'Cantarell', sans-serif;
    text-decoration: none;
}

.landingPage .messengerInner h4 {
    color: #00b4ff;
    text-align: center;
    font-size: calc(12px + 4 * ((100vw - 300px)/900));
}

.landingPage .messengerInner img {
    width: 50px;
    height: 50px;
}

.landingPage .gatsby-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage .haslo {
    position: absolute;
    right: 10vw;
    top: 85%;
}

/* KORZYSCI */

.korzysci {
    background-color: #ffffff;
    font-family: Cantarell, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.korzysci h2, .korzysci h4, .korzysci p {
    text-align: center;
    width: 70%;
    color: #363636;
}

.korzysci h2 {
    padding: 4vh;
}

.korzysci h2 {
    font-size: calc(1.5em + 16 * ((100vw - 700px)/900));
}

.korzysci .korzysciP {
    padding: 4vh;
}

.korzysci .korzysciP, .korzysci h4 {
    font-size: calc(13px + 4 * ((100vw - 700px)/900));
}

.korzysci .propozycjeContainer {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.korzysci .propozycjeStrzalki {
    width: 80%;
    height: 30vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 8vw 25vw 8vw 25vw 8vw;
    grid-template-rows: 12vh 20vh;
    grid-row-gap: 2vh;
    justify-items: center;
    align-items: center;
}

.korzysci .propozycjeStrzalki .liniaPrzerywana {
    width: 100% !important;
}

.korzysci .propozycjeStrzalki .cyfra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: 100;
}

.korzysci .iconNumber {
    width: 100px;
    height: 100px;
}

.korzysci .dlonie {
    grid-column: 3;
}

.korzysci .zegar {
    grid-column: 5;
}

.korzysci .propozycjeContent {
    display: grid;
    grid-template-columns: 5vw 14vw 19vw 14vw 19vw 14vw 5vw;
    grid-template-rows: 12vh 20vh;
    text-align: center;
    margin-top: 2vh;
}

.korzysci .propozycjeContent h3 {
    text-align: center;
    font-size: calc(12px + 4 * ((100vw - 700px)/900));
}

.korzysci .propozycjeContent .h3First {
    grid-column: 2;
}

.korzysci .propozycjeContent .h3Second {
    grid-column: 4;
}

.korzysci .propozycjeContent .h3Third {
    grid-column: 6;
}

.korzysci .propozycjeContent p {
    width: 100%;
    font-size: 13px;
}

.korzysci .propozycjeContent .pFirst {
    grid-column: 2;
    grid-row: 2;
}

.korzysci .propozycjeContent .pSecond {
    grid-column: 4;
    grid-row: 2;
}

.korzysci .propozycjeContent .pThird {
    grid-column: 6;
    grid-row: 2;
}

/* OFERTA */

.oferta {
    display: flex;
    justify-content: center;
    font-family: Cantarell, sans-serif;
    margin: 5vh 0;
    background-color: #ffffff;
}

.oferta .ofertaGrid .ofertaItem {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.75);
}

.oferta .ofertaGrid {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 450px);
    grid-column-gap: 10%;
    grid-row-gap: 40px;
}

.oferta .ofertaGrid .ofertaItem .iconSection {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferta .ofertaGrid .ofertaItem .iconSection > img {
    width: 150px;
    height: 150px;
}

.oferta .ofertaGrid .ofertaItem h4 {
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-weight: 100;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 2vh;
    text-align: center;
}

.oferta .ofertaGrid .ofertaItem ul {
    list-style-type: none;
    padding: 0 0 0 3vw;
}

.oferta .ofertaGrid .ofertaItem ul li {
    display: flex;
    align-items: center;
    padding: 1vh;
}

.oferta .ofertaGrid .ofertaItem ul li img {
    margin-right: 1vw;
    color: #363636;
}

/* KONTAKT */

.kontakt {
    padding: 5vh 15vw;
}

.kontakt .kontaktHeader {
    border-left: 22px solid #e30e32;
    padding: 10px;
}

.kontakt .kontaktHeader h2 {
    font-size: calc(1em + 24 *((100vw - 300px)/900));
    letter-spacing: 2px;
    font-weight: 900;
    font-family: Cantarell Bold, sans-serif;
}

.kontakt .kontaktHeader h3 {
    font-size: calc(.8em + 4 *((100vw - 300px)/900));
    font-weight: 100;
    color: #717171;
}

.kontakt form {
    padding: 3vh 32px;
    width: 60vw;
    display: grid;
    grid-template-columns: 20vw 40vw;
    grid-template-rows: repeat(4, 40px);
    grid-row-gap: 10px;
    grid-column-gap: 3vw;
}

.kontakt form input, .kontakt form textarea {
    background-color: #f6f6f6;
    border: none;
    outline: none;
    color: #a8a8a8;
    padding: 2%;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    resize: none;
}

.kontakt form input::placeholder, .kontakt form textarea::placeholder {
    color: #a8a8a8;
}

.kontakt form input[name="name"] {
    grid-column: 1;
    grid-row: 1;
}

.kontakt form textarea {
    grid-column: 2;
    grid-row: 1 / span 4;
}

/* ZAUFALI NAM */

.zaufaliNam {
    padding: 5vh 10vw;
    color: #363636;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zaufaliNam * {
    cursor: default !important;
}

.zaufaliNam h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: calc(1.5em + 24 * ((100vw - 300px)/900));
    font-weight: 700;
}

section.zaufaliNam > div > div > div > div {
    padding-top: 0 !important;
}

.cardBtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3em;
    cursor: pointer !important;
    color: #363636;
}

.zaufaliNam .imageSection {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: -30px;
    position: relative;
}

.zaufaliNam .imageSection img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
}

.zaufaliNam .textSection {
    position: relative;
    height: 200px;
    padding: 1vh 2vw;
}

.zaufaliNam .textSection .podpis {
    position: absolute;
    bottom: 40px;
    right: 4vw;
}

.zaufaliNam > div:nth-child(2) {

}

